:root {
    --c-background: #171717;
    --c-navbar: #302e2e;
    --c-player: #000000;
    --c-letter: #b2b2b2;
    --c-white: #ffffff;
    --c-success: #5FC54F;
    --c-wrong: #f44336;
    --c-mainYellow: #ffda2a;
    --c-secondYellow: #f7bf53;
    --font-Montserrat: 'Montserrat', sans-serif;
    --font-OpenSans: 'Open Sans', sans-serif;
    --font-PTSans: 'PT Sans', sans-serif;
}
/*body {
    margin: 0;
    padding: 0;
}*/
.navbar{
    background-color: var(--c-navbar);
    font-family: var(--font-Montserrat);
    z-index: 2;
}

.nav-link{
    color: var(--c-letter);
}

.nav-link:hover{
    color: var(--c-mainYellow);
}

.navbar-toggler{
    background-color: var(--c-mainYellow);
}

.p{
   margin-top: 1.15rem;   
}

h5 {
    font-family: var(--font-Montserrat);
}

.logo1{
    font-family: var(--font-PTSans);
    font-weight: 100;   
    color: var(--c-white);
    font-family: var(--font-OpenSans);
}

.logo2{
    font-family: var(--font-PTSans);
    font-weight: 400;
    color: var(--c-mainYellow);
    font-family: var(--font-OpenSans);
}
.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background: radial-gradient(closest-side at 50% 50%, #373434, #312f2f 80%, #141414);
}

.container-error {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   overflow: hidden;
}
.container-error img {
   position: absolute;
   top: 15%;
   left: 45%;
   width: 60%;
   height: 100%;
   transform: translate(-50%);

}
.container-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(-265px);
    margin-top: 50px;
}
.text1 {
    position: relative;
    font-size: 100px;
    font-family: var(--font-Montserrat);
    color: var(--c-mainYellow);
    border-radius: var(--c-background);
}
.text2 {
    position: relative;
    font-size: 14px;
    font-family: var(--font-Montserrat);
    color: var(--c-mainYellow);
    border-radius: var(--c-background);
} 

#a0
{
  animation:halfBlink 1.5s ease-in infinite;
}

#a4
{
  animation:distortBlink 1.5s ease-in infinite;
}

@keyframes blink
{
  0%{opacity:1;}
  100%{opacity:0;}
}

@keyframes halfBlink
{
  0%{opacity:1;}
  50%{opacity:0.7;}
  70%{opactity:0.4;}
  100%{opacity:0.6;}
}
@keyframes distortBlink
{
  0%{opacity:1;}
  50%{opacity:0.7;
    font-size:0.98em;}
  70%{opactity:0.8;}
  100%{opacity:0.9;}
}
/*.button {
    position: relative;
    top: 87%;
    left: 43%;
    color: var(--c-player);
    max-width: 15%;
}
.btn {
        font-size: 14px;
        text-transform: uppercase;
        border-radius: 0;
        background-color: var(--c-mainYellow);
}*/

/*.container-error {
    display: flex;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 50%;
    height: 100%;
    justify-content: left;
    align-items: end;
} 

.background {
    width: 100%;
    position:absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

@media only screen and (max-width : 414px){
    .container-error {
        background-image: url(../assets/images/404/404movil.png); 

    }*/
    
footer {
    display: relative;
    padding-top: 20px;
    text-align: center;
    margin-top: auto;
    background-color: var(--c-player);
    z-index: 2;
}

.footer-top {
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-bottom {
    padding-top: 20px;
    padding-bottom: 20px;
}


footer li,
footer p,
footer a {
    color: var(--c-letter);
}

footer ul {
    list-style: none;
    padding: 0;
}

footer .line {
    width: 50px;
    height: 4px;
    background-color: var(--c-mainYellow);
    margin-top: 12px;
    margin-bottom: 24px;
    margin-left: 43%;
}

  .social-icons a {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--c-mainYellow);
    border-radius: 100px;
    color: var(--c-player);
}

.social-icons a:hover {
    background-color: var(--c-secondYellow);
    color: var(--c-player);
}