:root {
    --c-background: #171717;
    --c-navbar: #302e2e;
    --c-player: #000000;
    --c-letter: #b2b2b2;
    --c-white: #ffffff;
    --c-success: #5FC54F;
    --c-wrong: #f44336;
    --c-mainYellow: #ffda2a;
    --c-secondYellow: #f7bf53;
    --font-Montserrat: 'Montserrat', sans-serif;
    --font-OpenSans: 'Open Sans', sans-serif;
    --font-PTSans: 'PT Sans', sans-serif;
}

#lista-categorias {
    font-family: var(--font-Montserrat);
    list-style: none;
    color: var(--c-letter);
    font-family: var();
    padding: 0;
}

.menu-categorias {
    height: 100%;
}

.the-scroll {
    height: 340px;
    overflow-y: scroll;
    padding-top: 70px;
}

.the-scroll::-webkit-scrollbar {
    width: 12px;
}

.the-scroll::-webkit-scrollbar-track {
    background: var(--c-navbar);
    border-radius: 20px;
}

.the-scroll::-webkit-scrollbar-thumb {
    background-color: var(--c-letter);
    border-radius: 20px;

}

.menu-categorias li:hover {
    color: var(--c-white);
    cursor: pointer;
    font-weight: bold;
}

.Active {
    color: var(--c-white);
}

#btn-filtro {
    font-family: var(--font-PTSans);
    font-weight: 400;
    background-color: var(--c-mainYellow);
    border: none;
    border-radius: 2rem;
    color: var(--c-background);
    border-bottom: 1px solid var(--c-mainYellow);
    border-top: 1px solid var(--c-mainYellow);
    padding: 0.6rem;
}

#btn-filtro:hover {
    border-radius: 2rem;
    padding: 0.6rem;
    border: none;
    background-color: var(--c-secondYellow);
    border-bottom: 1px solid var(--c-mainYellow);
    border-top: 1px solid var(--c-mainYellow);
}