:root {
    --c-background: #171717;
    --c-navbar: #302e2e;
    --c-player: #000000;
    --c-letter: #b2b2b2;
    --c-white: #ffffff;
    --c-success: #5FC54F;
    --c-wrong: #f44336;
    --c-mainYellow: #ffda2a;
    --c-secondYellow: #f7bf53;
    --font-Montserrat: 'Montserrat', sans-serif;
    --font-OpenSans: 'Open Sans', sans-serif;
    --font-PTSans: 'PT Sans', sans-serif;
}

#imagenMsg,
  #artistaMsg,
  #nombreMsg,
  #generoMsg,
  #urlCancionMsg {
    color: var(--c-wrong);
  }

.modal-title{
    font-family: var(--font-OpenSans);
}

#form .modal-header {
    background-color: var(--c-navbar);
    color:var(--c-letter);
}

#form .modal-body {
    background-color: var(--c-navbar);
    color:var(--c-letter);
    font-family: var(--font-PTSans);
    font-size: .9rem;
    text-align: left;
}
#form .modal-footer {
    background-color: var(--c-navbar);
    border: none;
} 

#form input {
    background-color: var(--c-navbar);
    border: none;
    border-bottom: thin solid var(--c-letter);
    color: var(--c-white);
    font-family: var(--font-PTSans);
    width: 100%;
    display: block;
    margin: auto;
    margin-bottom: 2rem;
    text-align: center;
}

#form ::placeholder{
    width: 400px;
    padding: 1rem;
    margin: 2rem;
    background-color: var(--c-navbar);
    text-align: center;
    color: var(--c-letter);
}
