:root {
    --c-background: #171717;
    --c-navbar: #302e2e;
    --c-player: #000000;
    --c-letter: #b2b2b2;
    --c-white: #ffffff;
    --c-success: #5FC54F;
    --c-wrong: #f44336;
    --c-mainYellow: #ffda2a;
    --c-secondYellow: #f7bf53;
    --font-Montserrat: 'Montserrat', sans-serif;
    --font-OpenSans: 'Open Sans', sans-serif;
    --font-PTSans: 'PT Sans', sans-serif;
}

.navbar-brand:hover {
    color: red;
}

#player {
    background-color: #000000;
    height: 15vh;
    position:fixed;
    bottom:0;
    width: 100%;
    font-family: var(--font-Montserrat);
    box-shadow: -1px -83px 70px 16px rgba(0,0,0,0.85);
-webkit-box-shadow: -1px -83px 70px 16px rgba(0,0,0,0.85);
-moz-box-shadow: -1px -83px 70px 16px rgba(0,0,0,0.85);
}

.title {
    color: #ffffff;
    font-size: 0.8;
}

.artist {
    color: var(--c-letter);
}

.imgAlbum {
    width: 70px;
}

.timeSong {
    color: #ffffff;
}
.progress-container {
    height: 0.9rem;
    background-color: #ffffff;
    margin-bottom: 1rem;
    border-radius: 0.3rem;
    overflow: hidden;
}
.progress {
    background-color: var(--c-mainYellow);
    height: 100%;
    width: 0%;
    border-radius: 0.3rem 0 0 0.3rem;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
      overflow: hidden;
      width: 80px;
    -webkit-appearance: none;
      background-color: #ffffff;
    }
    
    input[type='range']::-webkit-slider-runnable-track {
      height: 10px;
      -webkit-appearance: none;
      color: var(--c-mainYellow);
      margin-top: -1px;
    }
    
    input[type='range']::-webkit-slider-thumb {
      width: 10px;
      -webkit-appearance: none;
      height: 10px;
      cursor: pointer;
      background: #4b4b4b;
      box-shadow: -80px 0 0 80px var(--c-mainYellow);
    }
}
  